<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Trollteam - Zen</title>
    <link rel="stylesheet" href="css/style-modal.css">
    <script src="js/json2.js"></script>
    <script src="js/font-list.js"></script>
    <script src="js/compfields.js"></script>
    <script src="js/compar.js"></script>
</head>
<body>
    <ul id='buttons'>
        <li><a href="/" class="round green">Home</a></li>
        <li><a href="marks" class="round red">Marks</a></li>
        <li><a href="#" class="round yellow">Log</a></li>
    </ul>
    <p></p>
    <table id="log" border="1" title="Log">
        <tr>
            <th></th>
            <th>Time</th>
            <th>IP</th>
            <th>Mark</th>
            <th>User_Agent</th>
        </tr>
        {% for client in clients %}
            <tr></tr>
            <td><input type="checkbox" id="{{client.id}}"></td>
            <!-- <a href="recv?id={{client.id}}"></a> -->
            <td>{{ client.time }}</td>
            <td>{{ client.ip }}</td>
            <td>{{ client.mark }}</td>
            <td>{{ client.user_agent }}</td>
        {% endfor %}
    </table>
    <p><button type="button" onclick="showComparison()">Compare</button></p>
    <div id='cwin' style="visibility: hidden"> <!-- class="popup" -->
        <div id='comp' style="visibility: inherit">
        </div>
        <!-- a class="close" title="Close" href="#close"></a -->
    </div>
</body>
</html>
